<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1>RHO Pre-Interview Exercise</h1>
        <p>
            This is the zuul proxy endpoint and from here it's possible to access other microservices.
        </p>
        <p>
            The first microservice returns a table with books. The table contains all the information from the list of books.
            It's just a more visually appealing way of showing the data. The service name is <b>book-service</b> and the port
            is <b>8200</b>.
        </p>
        <p>
            The second microservice returns a table with tv shows. The service name is <b>netflixseries-service</b>
            and the port is <b>8300</b>.
        </p>
    </div>
</body>
</html>